$breakpoint: 1199px;

//Desktop
@media (min-width: $breakpoint) {
  .sub-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  amplify-s3-image {
    --height: 80vh;
    cursor: pointer;
  }
}

//Mobile
@media (max-width: $breakpoint) {
  .sub-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  amplify-s3-image {
    --height: 60vw;
    cursor: pointer;
  }
}

h1 {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  * {
    margin: 10px 0;
  }
}
