<mat-toolbar color="primary"
  ><button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button></mat-toolbar
>
<mat-menu #menu="matMenu"> <amplify-sign-out></amplify-sign-out></mat-menu>
<amplify-authenticator *ngIf="authState !== 'signedin'"></amplify-authenticator>

<div class="content" *ngIf="authState === 'signedin' && user">
  <h1>What's In My Fridge?</h1>
  <amplify-s3-image
    class="small-image"
    img-key="FridgePicture.jpg"
    (click)="expandPicture()"
  ></amplify-s3-image>
  <sfd-table></sfd-table>
</div>
