<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu"> <amplify-sign-out></amplify-sign-out></mat-menu>
<amplify-authenticator *ngIf="authState !== 'signedin'"
  ><amplify-sign-in slot="sign-in" hideSignUp></amplify-sign-in
></amplify-authenticator>

<div class="content" *ngIf="authState === 'signedin' && user">
  <h1>What's In My Fridge?</h1>
  <div class="sub-content">
    <div class="image-wrapper">
    <amplify-s3-image
      img-key="FridgePicture.jpg"
    ></amplify-s3-image></div>
    <sfd-grid-list></sfd-grid-list>
  </div>
</div>
