:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mat-cell {
  padding: 12px 24px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-row {
  cursor: pointer;
  &:hover {
    background-color: lightgrey;
  }
}
