:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sfd-tile {
  font-size: large;
  font-weight: bold;
  margin: 5px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  cursor: pointer;
  user-select: none;
  &:hover {
    border: 1px solid #673ab7;
    box-sizing: border-box;
  }
}
